## The old way

In [1]:
import pandas as pd

In [3]:
training_data = pd.read_csv("SecDevML/train.csv")
training_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

Let's look at 2 columns Embarked and Pclass

In [5]:
df = training_data[["Embarked", "Pclass"]]
df

    Embarked  Pclass
0          S       3
1          C       1
2          S       3
3          S       1
4          S       3
5          Q       3
6          S       1
7          S       3
8          S       3
9          C       2
10         S       3
11         S       1
12         S       3
13         S       3
14         S       3
15         S       2
16         Q       3
17         S       2
18         S       3
19         C       3
20         S       2
21         S       2
22         Q       3
23         S       1
24         S       3
25         S       3
26         C       3
27         S       1
28         Q       3
29         S       3
..       ...     ...
861        S       2
862        S       1
863        S       3
864        S       2
865        S       2
866        C       2
867        S       1
868        S       3
869        S       3
870        S       3
871        S       1
872        S       1
873        S       3
874        C       2
875        C       3
876        S       3
877        S       3
878        S       3
879        C       1
880        S       2
881        S       3
882        S       3
883        S       2
884        S       3
885        Q       3
886        S       2
887        S       1
888        S       3
889        C       1
890        Q       3

[891 rows x 2 columns]

In [6]:
df.isnull().sum()

Embarked    2
Pclass      0
dtype: int64

Let's fill Embarked missing values with category "S"

In [7]:
df.Embarked = df.Embarked.fillna("S")

c:\users\ashto\appdata\local\programs\python\python36\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [8]:
df.isnull().sum()

Embarked    0
Pclass      0
dtype: int64

In [10]:
dummies_embarked = pd.get_dummies(df['Embarked'], prefix= 'Embarked') 
dummies_pclass = pd.get_dummies(df['Pclass'], prefix= 'Pclass')

df = pd.concat([dummies_embarked, dummies_pclass], axis=1)
df

     Embarked_C  Embarked_Q  Embarked_S  Pclass_1  Pclass_2  Pclass_3
0             0           0           1         0         0         1
1             1           0           0         1         0         0
2             0           0           1         0         0         1
3             0           0           1         1         0         0
4             0           0           1         0         0         1
5             0           1           0         0         0         1
6             0           0           1         1         0         0
7             0           0           1         0         0         1
8             0           0           1         0         0         1
9             1           0           0         0         1         0
10            0           0           1         0         0         1
11            0           0           1         1         0         0
12            0           0           1         0         0         1
13            0           0           1         0         0         1
14            0           0           1         0         0         1
15            0           0           1         0         1         0
16            0           1           0         0         0         1
17            0           0           1         0         1         0
18            0           0           1         0         0         1
19            1           0           0         0         0         1
20            0           0           1         0         1         0
21            0           0           1         0         1         0
22            0           1           0         0         0         1
23            0           0           1         1         0         0
24            0           0           1         0         0         1
25            0           0           1         0         0         1
26            1           0           0         0         0         1
27            0           0           1         1         0         0
28            0           1           0         0         0         1
29            0           0           1         0         0         1
..          ...         ...         ...       ...       ...       ...
861           0           0           1         0         1         0
862           0           0           1         1         0         0
863           0           0           1         0         0         1
864           0           0           1         0         1         0
865           0           0           1         0         1         0
866           1           0           0         0         1         0
867           0           0           1         1         0         0
868           0           0           1         0         0         1
869           0           0           1         0         0         1
870           0           0           1         0         0         1
871           0           0           1         1         0         0
872           0           0           1         1         0         0
873           0           0           1         0         0         1
874           1           0           0         0         1         0
875           1           0           0         0         0         1
876           0           0           1         0         0         1
877           0           0           1         0         0         1
878           0           0           1         0         0         1
879           1           0           0         1         0         0
880           0           0           1         0         1         0
881           0           0           1         0         0         1
882           0           0           1         0         0         1
883           0           0           1         0         1         0
884           0           0           1         0         0         1
885           0           1           0         0         0         1
886           0           0           1         0         1         0
887           0           0           1         1         0         0
888           0           0           1         0         0         1
889           1           0           0         1         0         0
890           0           1           0         0         0         1

[891 rows x 6 columns]

## The New Way

In [25]:
from pyautoml.cleaning.clean import Clean
from pyautoml.feature_engineering.feature import Feature
from pyautoml import util

In [19]:
training_data = pd.read_csv("SecDevML/train.csv")

In [28]:
clean = Clean(training_data, use_full_data=True)
clean.data = clean.data[["Embarked", "Pclass"]]
column_replace = {"Embarked": "S"}
clean_df = clean.ReplaceMissingConstant("S")

In [29]:
util.CheckMissingData(clean_df)

False

In [30]:
clean.data

    Embarked  Pclass
0          S       3
1          C       1
2          S       3
3          S       1
4          S       3
5          Q       3
6          S       1
7          S       3
8          S       3
9          C       2
10         S       3
11         S       1
12         S       3
13         S       3
14         S       3
15         S       2
16         Q       3
17         S       2
18         S       3
19         C       3
20         S       2
21         S       2
22         Q       3
23         S       1
24         S       3
25         S       3
26         C       3
27         S       1
28         Q       3
29         S       3
..       ...     ...
861        S       2
862        S       1
863        S       3
864        S       2
865        S       2
866        C       2
867        S       1
868        S       3
869        S       3
870        S       3
871        S       1
872        S       1
873        S       3
874        C       2
875        C       3
876        S       3
877        S       3
878        S       3
879        C       1
880        S       2
881        S       3
882        S       3
883        S       2
884        S       3
885        Q       3
886        S       2
887        S       1
888        S       3
889        C       1
890        Q       3

[891 rows x 2 columns]

In [32]:
feature = Feature(data=clean.data, data_properties=clean.data_properties)

In [34]:
feature.data

    Embarked  Pclass
0          S       3
1          C       1
2          S       3
3          S       1
4          S       3
5          Q       3
6          S       1
7          S       3
8          S       3
9          C       2
10         S       3
11         S       1
12         S       3
13         S       3
14         S       3
15         S       2
16         Q       3
17         S       2
18         S       3
19         C       3
20         S       2
21         S       2
22         Q       3
23         S       1
24         S       3
25         S       3
26         C       3
27         S       1
28         Q       3
29         S       3
..       ...     ...
861        S       2
862        S       1
863        S       3
864        S       2
865        S       2
866        C       2
867        S       1
868        S       3
869        S       3
870        S       3
871        S       1
872        S       1
873        S       3
874        C       2
875        C       3
876        S       3
877        S       3
878        S       3
879        C       1
880        S       2
881        S       3
882        S       3
883        S       2
884        S       3
885        Q       3
886        S       2
887        S       1
888        S       3
889        C       1
890        Q       3

[891 rows x 2 columns]

In [37]:
onehot_cols = ["Embarked", "Pclass"]
feature.OneHotEncode(onehot_cols)

     x0_C  x0_Q  x0_S  x1_1  x1_2  x1_3
0     0.0   0.0   1.0   0.0   0.0   1.0
1     1.0   0.0   0.0   1.0   0.0   0.0
2     0.0   0.0   1.0   0.0   0.0   1.0
3     0.0   0.0   1.0   1.0   0.0   0.0
4     0.0   0.0   1.0   0.0   0.0   1.0
5     0.0   1.0   0.0   0.0   0.0   1.0
6     0.0   0.0   1.0   1.0   0.0   0.0
7     0.0   0.0   1.0   0.0   0.0   1.0
8     0.0   0.0   1.0   0.0   0.0   1.0
9     1.0   0.0   0.0   0.0   1.0   0.0
10    0.0   0.0   1.0   0.0   0.0   1.0
11    0.0   0.0   1.0   1.0   0.0   0.0
12    0.0   0.0   1.0   0.0   0.0   1.0
13    0.0   0.0   1.0   0.0   0.0   1.0
14    0.0   0.0   1.0   0.0   0.0   1.0
15    0.0   0.0   1.0   0.0   1.0   0.0
16    0.0   1.0   0.0   0.0   0.0   1.0
17    0.0   0.0   1.0   0.0   1.0   0.0
18    0.0   0.0   1.0   0.0   0.0   1.0
19    1.0   0.0   0.0   0.0   0.0   1.0
20    0.0   0.0   1.0   0.0   1.0   0.0
21    0.0   0.0   1.0   0.0   1.0   0.0
22    0.0   1.0   0.0   0.0   0.0   1.0
23    0.0   0.0   1.0   1.0   0.0   0.0
24    0.0   0.0   1.0   0.0   0.0   1.0
25    0.0   0.0   1.0   0.0   0.0   1.0
26    1.0   0.0   0.0   0.0   0.0   1.0
27    0.0   0.0   1.0   1.0   0.0   0.0
28    0.0   1.0   0.0   0.0   0.0   1.0
29    0.0   0.0   1.0   0.0   0.0   1.0
..    ...   ...   ...   ...   ...   ...
861   0.0   0.0   1.0   0.0   1.0   0.0
862   0.0   0.0   1.0   1.0   0.0   0.0
863   0.0   0.0   1.0   0.0   0.0   1.0
864   0.0   0.0   1.0   0.0   1.0   0.0
865   0.0   0.0   1.0   0.0   1.0   0.0
866   1.0   0.0   0.0   0.0   1.0   0.0
867   0.0   0.0   1.0   1.0   0.0   0.0
868   0.0   0.0   1.0   0.0   0.0   1.0
869   0.0   0.0   1.0   0.0   0.0   1.0
870   0.0   0.0   1.0   0.0   0.0   1.0
871   0.0   0.0   1.0   1.0   0.0   0.0
872   0.0   0.0   1.0   1.0   0.0   0.0
873   0.0   0.0   1.0   0.0   0.0   1.0
874   1.0   0.0   0.0   0.0   1.0   0.0
875   1.0   0.0   0.0   0.0   0.0   1.0
876   0.0   0.0   1.0   0.0   0.0   1.0
877   0.0   0.0   1.0   0.0   0.0   1.0
878   0.0   0.0   1.0   0.0   0.0   1.0
879   1.0   0.0   0.0   1.0   0.0   0.0
880   0.0   0.0   1.0   0.0   1.0   0.0
881   0.0   0.0   1.0   0.0   0.0   1.0
882   0.0   0.0   1.0   0.0   0.0   1.0
883   0.0   0.0   1.0   0.0   1.0   0.0
884   0.0   0.0   1.0   0.0   0.0   1.0
885   0.0   1.0   0.0   0.0   0.0   1.0
886   0.0   0.0   1.0   0.0   1.0   0.0
887   0.0   0.0   1.0   1.0   0.0   0.0
888   0.0   0.0   1.0   0.0   0.0   1.0
889   1.0   0.0   0.0   1.0   0.0   0.0
890   0.0   1.0   0.0   0.0   0.0   1.0

[891 rows x 6 columns]