In [1]:
from pyautoml import Clean, Preprocess, Feature
import pandas as pd
import pprint

train_data = pd.read_csv('data/train.csv')
test_data = pd.read_csv('data/test.csv')

In [2]:
clean = Clean(train_data=train_data, test_data=test_data, target_field='Survived')

## Cleaning

In [4]:
clean.missing_values

,Cabin,Age,Embarked,Fare,Ticket,Parch,SibSp,Sex,Name,Pclass,Survived,PassengerId
Total,687.000000,177.000000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Percent,0.771044,0.198653,0.002245,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,Cabin,Age,Fare,Embarked,Ticket,Parch,SibSp,Sex,Name,Pclass,PassengerId
Total,327.000000,86.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Percent,0.782297,0.205742,0.002392,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# Suppressing output
_, _ = clean.replace_missing_constant('C', ['Embarked'])

In [5]:
clean.missing_values

,Cabin,Age,Embarked,Fare,Ticket,Parch,SibSp,Sex,Name,Pclass,Survived,PassengerId
Total,687.000000,177.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Percent,0.771044,0.198653,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,Cabin,Age,Fare,Embarked,Ticket,Parch,SibSp,Sex,Name,Pclass,PassengerId
Total,327.000000,86.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Percent,0.782297,0.205742,0.002392,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
_, _ = clean.replace_missing_mostcommon(['Fare'])

In [7]:
clean.missing_values

,Cabin,Age,Fare,Embarked,Ticket,Parch,SibSp,Sex,Name,Pclass,Survived,PassengerId
Total,687.000000,177.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Percent,0.771044,0.198653,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,Cabin,Age,Fare,Embarked,Ticket,Parch,SibSp,Sex,Name,Pclass,PassengerId
Total,327.000000,86.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Percent,0.782297,0.205742,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0