In [1]:
from pyautoml import Clean, Preprocess, Feature
import pandas as pd

train_data = pd.read_csv('data/train.csv')
test_data = pd.read_csv('data/test.csv')

In [2]:
clean = Clean(train_data=train_data, test_data=test_data, target_field='Survived')

## Cleaning

In [3]:
clean.describe()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891,891,891,NaN,NaN,714,891,891,NaN,891,NaN,NaN
mean,446,0.383838,2.30864,NaN,NaN,29.6991,0.523008,0.381594,NaN,32.2042,NaN,NaN
std,257.354,0.486592,0.836071,NaN,NaN,14.5265,1.10274,0.806057,NaN,49.6934,NaN,NaN
min,1,0,1,NaN,NaN,0.42,0,0,NaN,0,NaN,NaN
25%,223.5,0,2,NaN,NaN,20.125,0,0,NaN,7.9104,NaN,NaN
50%,446,0,3,NaN,NaN,28,0,0,NaN,14.4542,NaN,NaN
75%,668.5,1,3,NaN,NaN,38,1,0,NaN,31,NaN,NaN
max,891,1,3,NaN,NaN,80,8,6,NaN,512.329,NaN,NaN
counts,891,891,891,891,891,714,891,891,891,891,204,889
uniques,891,2,3,891,2,88,7,7,681,248,147,3
missing,0,0,0,0,0,177,0,0,0,0,687,2
missing_perc,0%,0%,0%,0%,0%,19.87%,0%,0%,0%,0%,77.10%,0.22%
types,numeric,bool,numeric,unique,bool,numeric,numeric,numeric,categorical,numeric,categorical,categorical

In [4]:
clean.column_info()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
counts,891,891,891,891,891,714,891,891,891,891,204,889
uniques,891,2,3,891,2,88,7,7,681,248,147,3
missing,0,0,0,0,0,177,0,0,0,0,687,2
missing_perc,0%,0%,0%,0%,0%,19.87%,0%,0%,0%,0%,77.10%,0.22%
types,numeric,bool,numeric,unique,bool,numeric,numeric,numeric,categorical,numeric,categorical,categorical

In [7]:
clean.describe_column('Fare')

mean                        32.2042
std                         49.6934
variance                    2469.44
min                               0
max                         512.329
mode                           8.05
5%                            7.225
25%                          7.9104
50%                         14.4542
75%                              31
95%                         112.079
iqr                         23.0896
kurtosis                    33.3981
skewness                    4.78732
sum                         28693.9
mad                         28.1637
cv                          1.54307
zeros_num                        15
zeros_perc                    1.68%
deviating_of_mean                20
deviating_of_mean_perc        2.24%
deviating_of_median              53
deviating_of_median_perc      5.95%
top_correlations
counts                          891
uniques                         248
missing                           0
missing_perc                     0%
types                       numeric
Name: Fare, dtype: object

In [8]:
clean.describe_column('Fare')['mean']

32.204207968574636

In [4]:
clean.missing_values

,Cabin,Age,Embarked,Fare,Ticket,Parch,SibSp,Sex,Name,Pclass,Survived,PassengerId
Total,687.000000,177.000000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Percent,0.771044,0.198653,0.002245,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,Cabin,Age,Fare,Embarked,Ticket,Parch,SibSp,Sex,Name,Pclass,PassengerId
Total,327.000000,86.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Percent,0.782297,0.205742,0.002392,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# Suppressing output
_, _ = clean.replace_missing_constant('C', ['Embarked'])

In [5]:
clean.missing_values

,Cabin,Age,Embarked,Fare,Ticket,Parch,SibSp,Sex,Name,Pclass,Survived,PassengerId
Total,687.000000,177.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Percent,0.771044,0.198653,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,Cabin,Age,Fare,Embarked,Ticket,Parch,SibSp,Sex,Name,Pclass,PassengerId
Total,327.000000,86.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Percent,0.782297,0.205742,0.002392,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
_, _ = clean.replace_missing_mostcommon(['Fare'])

In [7]:
clean.missing_values

,Cabin,Age,Fare,Embarked,Ticket,Parch,SibSp,Sex,Name,Pclass,Survived,PassengerId
Total,687.000000,177.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Percent,0.771044,0.198653,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,Cabin,Age,Fare,Embarked,Ticket,Parch,SibSp,Sex,Name,Pclass,PassengerId
Total,327.000000,86.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Percent,0.782297,0.205742,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0